<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="hardware.Properties.Settings.ayubooConnectionString" connectionString="Data Source=LAPTOP-6SSJFT7K\SQLEXPRESS;Initial Catalog=ayuboo;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="hardware.Properties.Settings.DSD_HardwareConnectionString" connectionString="Data Source=LAPTOP-6SSJFT7K\SQLEXPRESS;Initial Catalog=DSD_Hardware;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
